@font-face {
    font-family: Horn;
    src: url("assets/font/Horn-pymD.ttf"),
}

html {
	min-height: 100vh;
	/* max-height: 600px; */
	width: 100%;
	background-color: rgba(179, 87, 197, 0.4);
	
	background-image:	
   url('https://78.media.tumblr.com/28bd9a2522fbf8981d680317ccbf4282/tumblr_p7n8kqHMuD1uy4lhuo3_1280.png');
    
    background-repeat: repeat-x;
	background-position: 
		0 20%,
		0 100%,
		0 50%,
		0 100%,
		0 0;
	background-size: 
		2500px,
		800px,
		500px 200px,
		1000px,
		400px 260px;
	animation: 50s para infinite linear;
	}

@keyframes para {
	100% {
		background-position: 
			-5000px 20%,
			-800px 95%,
			500px 50%,
			1000px 100%,
			400px 0;
		}
	}

    
    * {
		
        box-sizing: border-box;
    }

    body {
        margin: 0;
		height: 100vh;
		width: 100%;
		
	}
    .title {
		color: green;
		font-family: Horn, serif;
		font-weight: normal;
		text-align: center;
		font-size: 4em;

	}

	.game-info {
		font-family: Neucha, serif;
		color: blue;
		font-size: 2em;
	}

	.game-info-container {
		grid-column: 1 / -1;
		display: flex;
		justify-content: space-between;
		

	}
     .game-container {
		 display: grid;
		 justify-content: center;
		 perspective: 500px;
	 }
	
	.memory-game {
		width: 540px;
		height: 440px;
		margin: auto;
		display: flex;
		flex-wrap: wrap;
		perspective: 1000px;
		
	  }
    
	.memory-card {
		width: calc(25% - 10px);
		height: calc(33.333% - 10px);
		margin: 4px;
		position: relative;
		transform: scale(1);
		transform-style: preserve-3d;
		transition: transform .5s;
		border: 0.5rem outset pink;
	  }

	.memory-card:active {
       transform: scale(0.97);
       transition: transform .2s;
      }

	.memory-card.flip {
		transform: rotateY(180deg);
	}



	.front-face,
    .back-face {
      width: 100%;
      height: 100%;
      padding: 2px;
      position: absolute;
      border-radius: 5px;
	  background: #1C7CCC;
      backface-visibility: hidden; 
	  transition: transform 500ms ease-in-out;
     }

	 .front-face {
		 transform: rotateY(180deg);
	 }
    